@import 'tailwindcss';
@import 'tw-animate-css';
@import '@fontsource-variable/manrope';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .unset-all {
    input:focus,
    input:active {
      outline: none;
      box-shadow: none;
    }
  }
  .avatar-border {
    border: 5px solid transparent;
    border-top-width: 3px;
    border-bottom-width: 8px;
    border-right: transparent;
    border-left: transparent;
  }
  .avatar-rare-bg {
    background: linear-gradient(
        to right,
        hsl(283, 65%, 75%) 0%,
        hsl(262deg 84% 77%) 26%,
        hsl(241deg 88% 79%) 39%,
        hsl(224deg 88% 75%) 50%,
        hsl(203deg 100% 69%) 74%,
        hsl(193deg 100% 67%) 81%,
        hsl(183deg 87% 73%) 100%
      )
      border-box;
  }
  .avatar-common-bg {
    background: linear-gradient(
      to right,
      hsl(48deg 88% 66%) 0%,
      hsl(52deg 88% 67%) 26%,
      hsl(56deg 86% 67%) 39%,
      hsl(60deg 84% 68%) 50%,
      hsl(62deg 83% 75%) 61%,
      hsl(64deg 80% 81%) 74%,
      hsl(66deg 73% 87%) 100%
    );
  }

  .left-slant {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 7% 100%);
  }
  .left-slant-l {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 27% 100%);
  }

  .text-xxs {
    font-size: 0.5rem;
  }

  .rarity-0[data-disabled='true'] {
    opacity: 0.4;
  }

  .chosen-trekker[data-selected='true'] {
    position: relative;
    &::after {
      content: attr(data-slot);
      color: inherit;
      letter-spacing: 2px;
      font-weight: bold;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .pixel-bg {
    background-image:
      linear-gradient(
        to bottom,
        transparent 0%,
        rgba(239, 239, 239, 0.3) 20%,
        rgba(255, 254, 254, 1) 100%
      ),
      url('/char-pattern-2.webp');

    background-size: cover;
    background-repeat: no-repeat;
  }
}

@theme inline {
  --font-manrope: 'Manrope Variable', sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-rare: var(--vestige-rare);
  --color-common: var(--vestige-common);
  --color-versatile: var(--tag-versatile);
  --color-vanguard: var(--tag-vanguard);
  --color-support: var(--tag-support);
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.148 0.004 228.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.148 0.004 228.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.148 0.004 228.8);
  --primary: oklch(0.218 0.008 223.9);
  --primary-foreground: oklch(0.987 0.002 197.1);
  --secondary: oklch(0.963 0.002 197.1);
  --secondary-foreground: oklch(0.218 0.008 223.9);
  --muted: oklch(0.963 0.002 197.1);
  --muted-foreground: oklch(0.56 0.021 213.5);
  --accent: oklch(0.963 0.002 197.1);
  --accent-foreground: oklch(0.218 0.008 223.9);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.925 0.005 214.3);
  --input: oklch(0.925 0.005 214.3);
  --ring: oklch(0.723 0.014 214.4);
  --chart-1: oklch(0.872 0.007 219.6);
  --chart-2: oklch(0.56 0.021 213.5);
  --chart-3: oklch(0.45 0.017 213.2);
  --chart-4: oklch(0.378 0.015 216);
  --chart-5: oklch(0.275 0.011 216.9);
  --sidebar: oklch(0.987 0.002 197.1);
  --sidebar-foreground: oklch(0.148 0.004 228.8);
  --sidebar-primary: oklch(0.218 0.008 223.9);
  --sidebar-primary-foreground: oklch(0.987 0.002 197.1);
  --sidebar-accent: oklch(0.963 0.002 197.1);
  --sidebar-accent-foreground: oklch(0.218 0.008 223.9);
  --sidebar-border: oklch(0.925 0.005 214.3);
  --sidebar-ring: oklch(0.723 0.014 214.4);
  --vestige-rare: oklch(0.6127 0.2307 292.24);
  --vestige-common: oklch(0.7045 0.1549 66.36);
  --tag-versatile: oklch(0.6405 0.1379 279.41);
  --tag-vanguard: oklch(0.6697 0.1574 0.61);
  --tag-support: oklch(0.7666 0.1258 177.92);
}

.dark {
  --background: oklch(0.148 0.004 228.8);
  --foreground: oklch(0.987 0.002 197.1);
  --card: oklch(0.218 0.008 223.9);
  --card-foreground: oklch(0.987 0.002 197.1);
  --popover: oklch(0.218 0.008 223.9);
  --popover-foreground: oklch(0.987 0.002 197.1);
  --primary: oklch(0.925 0.005 214.3);
  --primary-foreground: oklch(0.218 0.008 223.9);
  --secondary: oklch(0.275 0.011 216.9);
  --secondary-foreground: oklch(0.987 0.002 197.1);
  --muted: oklch(0.275 0.011 216.9);
  --muted-foreground: oklch(0.723 0.014 214.4);
  --accent: oklch(0.275 0.011 216.9);
  --accent-foreground: oklch(0.987 0.002 197.1);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.56 0.021 213.5);
  --chart-1: oklch(0.872 0.007 219.6);
  --chart-2: oklch(0.56 0.021 213.5);
  --chart-3: oklch(0.45 0.017 213.2);
  --chart-4: oklch(0.378 0.015 216);
  --chart-5: oklch(0.275 0.011 216.9);
  --sidebar: oklch(0.218 0.008 223.9);
  --sidebar-foreground: oklch(0.987 0.002 197.1);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.987 0.002 197.1);
  --sidebar-accent: oklch(0.275 0.011 216.9);
  --sidebar-accent-foreground: oklch(0.987 0.002 197.1);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.56 0.021 213.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-manrope;
  }
}
