@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

body {
  font-family:
    Poppins, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .avatar-border {
    border: 5px solid transparent;
    border-top-width: 3px;
    border-bottom-width: 8px;
    border-right: transparent;
    border-left: transparent;
  }
  .avatar-rare-bg {
    background:
      linear-gradient(white) padding-box,
      linear-gradient(
          to right,
          hsl(283, 65%, 75%) 0%,
          hsl(262deg 84% 77%) 26%,
          hsl(241deg 88% 79%) 39%,
          hsl(224deg 88% 75%) 50%,
          hsl(203deg 100% 69%) 74%,
          hsl(193deg 100% 67%) 81%,
          hsl(183deg 87% 73%) 100%
        )
        border-box;
  }
  .avatar-common-bg {
    background: linear-gradient(
      to right,
      hsl(48deg 88% 66%) 0%,
      hsl(52deg 88% 67%) 26%,
      hsl(56deg 86% 67%) 39%,
      hsl(60deg 84% 68%) 50%,
      hsl(62deg 83% 75%) 61%,
      hsl(64deg 80% 81%) 74%,
      hsl(66deg 73% 87%) 100%
    );
  }

  .left-slant {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 7% 100%);
  }
  .left-slant-l {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
  }
}
