@import 'tailwindcss';

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@layer utilities {
  .avatar-border {
    border: 5px solid transparent;
    border-top-width: 3px;
    border-bottom-width: 8px;
    border-right: transparent;
    border-left: transparent;
  }
  .avatar-rare-bg {
    background:
      linear-gradient(white) padding-box,
      linear-gradient(
          to right,
          hsl(283, 65%, 75%) 0%,
          hsl(262deg 84% 77%) 26%,
          hsl(241deg 88% 79%) 39%,
          hsl(224deg 88% 75%) 50%,
          hsl(203deg 100% 69%) 74%,
          hsl(193deg 100% 67%) 81%,
          hsl(183deg 87% 73%) 100%
        )
        border-box;
  }
  .avatar-common-bg {
    background: linear-gradient(
      90deg,
      hsl(48deg 88% 66%) 0%,
      hsl(52deg 88% 67%) 26%,
      hsl(56deg 86% 67%) 39%,
      hsl(60deg 84% 68%) 50%,
      hsl(62deg 83% 75%) 61%,
      hsl(64deg 80% 81%) 74%,
      hsl(66deg 73% 87%) 100%
    );
  }

  .left-slant {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 8% 100%);
  }
}
